* {
    font-family: monospace;
    scroll-behavior: smooth;
    box-sizing: border-box;
    padding: 0;
}

main {
    display: flex;
    justify-content: center;
}

main #introContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    border-radius: 42px;
    background: linear-gradient(225deg, #e6e6e6, #ffffff);
    box-shadow: -16px 16px 13px #ababab,
        16px -16px 13px #ffffff;
    margin: 2rem;
    padding: 2rem;

}

#imageContainer {
    width: 400px;
    height: 400px;
    padding: 0.5rem;
}

#imageContainer img {
    width: 100%;
    height: auto;
}

#imageContainer {
    border-radius: 50%;
    background: #ffffff;
    box-shadow: -31px 31px 61px #d1d1d1,
        31px -31px 61px #ffffff;
    margin: 3rem
}

#introTextContainer {
    text-align: left;
    line-height: 4rem;
    margin: 3rem;
}

#wrapper {
    background-color: #e6bfef;
    height: 6rem;
    padding: 1rem;
    display: inline-flex;
    align-items: center;
    overflow: hidden;
}

.static {
    font-size: 1.5rem;
    font-weight: 600;
}

.dynamic {
    font-size: 2rem;
    font-weight: 600;
    height: 3rem;
    line-height: 3rem;
    overflow: hidden;
}

.separeted {
    margin-left: 10px;
}

.dynamic li {
    list-style-type: none;
    position: relative;
    top: 0;
    animation: slide 9s steps(3) infinite;
}

@keyframes slide {
    100% {
        top: -117px
    }
}

.dynamic li span {
    position: relative;
}

.dynamic li span::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 150%;
    background-color: #e6bfef;
    border-left: 2px solid black;
    animation: typing 3s steps(9) infinite;
}

@keyframes typing {
    100% {
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}